/* F O N T S */

h1 {
    font-family: p22-mackinac-pro, serif;
    font-weight: 700;
    font-style: normal;
}

h2 {
    font-family: p22-mackinac-pro, serif;
    font-weight: 500;
    font-style: normal;
}

p {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9em;
}

a {
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.9em;
}

/* N A V I G A T I O N */

nav {
    background-color: #FFFFFF;
    top: 0px;
}

.navbar h2 {
    font-family: p22-mackinac-pro, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1em;
}

.navbar-light a {
    color: #000000 !important;
}

.navbar-light a:hover {
    color: #B9AA97 !important;
}

.navbar {
    border-bottom: solid;
    border-color: #000000;
    border-width: 3px;
}

.navbar-light .navbar-toggler {
    color: rgb(255 5 5 / 0%) !important;
    border: none !important;
}

/* H E R O */

.hero {
    margin-top: 60px;
    background-image: url(img/motherandearth_bg.png);
    height: 88vh;
    background-size: cover;
    background-position: center;
}
