/* G E N E R E L T */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFFEF9;
    overflow-x: hidden;
}

.opdeler {
    border-bottom: solid;
    border-color: #000000;
    border-width: 2px;
    margin: 30px;
}

.opdeler-2 {
    border-bottom: solid;
    border-color: #000000;
    border-width: 2px;
    margin: 30px 30px 30px 0px;
}

/* F O N T S */

h2 {
    font-family: p22-mackinac-pro, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.2em;
}

p {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9em;
}

a {
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.9em;
}

/* N A V I G A T I O N */

nav {
    background-color: #FFFFFF;
    top: 0px;
}

.navbar h2 {
    font-family: p22-mackinac-pro, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1rem;
}

.navbar-light a {
    color: #000000 !important;
}

.navbar-light a:hover {
    color: #B9AA97 !important;
}

.navbar {
    border-bottom: solid;
    border-color: #000000;
    border-width: 3px;
}

.navbar-light .navbar-toggler {
    color: rgb(255 5 5 / 0%) !important;
    border: none !important;
}


/* K O N T A K T */


#kontakt {
    margin-top: 70px;
}

/* F O O T E R */

footer {

    background-color: #FFFFFF;

    padding: 10px;

    border-top: solid;
    border-color: #000000;
    border-width: 3px;
}

footer a {
    color: #000000;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.7em;
}

footer a:hover {
    color: #505050;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.7em;
}

footer img {
    width: 40px;
}
